@use '../../styles//container.scss';

.navi {
  display: block;
  position: absolute;
  right: container.$hor_gap;
  bottom: container.$ver_gap;
  width: auto;
  height: auto;
  z-index: 999;

  &__container {
    margin: 10px 20px;
  }

  ul {
    padding: 0;

    > li {
      display: inline-block;
      padding-right: 1rem;

      a[aria-current]:not([aria-current="false"]) {
        font-weight: bold;
        font-style: italic;
        cursor: default;
        pointer-events: none;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}